<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Web Audio Visualizers | Spectral Flux</title>

    <style>
      body {
        background-color: black;
        margin: 0px;
        overflow: hidden;
      }

      html, body, #canvas {
        width: 100%;
        height: 100%;
      }
    </style>

    <script type="text/javascript" src="js/dist/spectral-flux.js" defer></script>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <input id="alpha" type="range" min="0.0" max="1.0" step="0.1" value="0.84"/>
    <input id="delta" type="range" min="0.0" max="1.0" step="0.1" value="0.35s"/>
  </body>
</html>
